<div class="container-client" *ngIf="!this.estaEnMesa">
  <p *ngIf="!this.listaEspera" id="container-client-p">¡Anotate en la lista!</p>
  <p *ngIf="this.listaEspera" id="container-client-p">Mesa asignada</p>
  <div class="btn-scan" (click)="scanListaDeEspera()" *ngIf="!this.listaEspera">
    <img src="../../../assets/img/qr.png" alt="">
  </div>
  <div class="btn-scan" (click)="scanMesa()" *ngIf="this.listaEspera">
    <img src="../../../assets/img/qr.png" alt="">
  </div>
  <div class="btn-scan" (click)="scanEncuesta()" *ngIf="this.encuesta">
    <img src="../../../assets/img/qr.png" alt="">
  </div>
</div>
<div class="menu-comidas" *ngIf="this.estaEnMesa">
  <app-menu (terminoPedido)="estaEnMesa=false; encuesta=$event;" [mesaOcupada]="mesaOcupada"></app-menu>
</div>
