<div class="container-home">
  <div class="nav-home">
    <ion-icon routerLink="/login" name="chevron-back-outline"></ion-icon>
    <span class="nombre-user">{{tipoUser}}</span>
    <div class="container-avatar">
      <img src="../../assets/img/noPhoto.png" alt="">
    </div>
  </div>
  <div class="main">
   <app-duenio *ngIf="tipoUser == 'duenio' || tipoUser == 'supervisor'"></app-duenio>
   <app-mozo *ngIf="tipoUser == 'mozo' "></app-mozo> 
   <app-cliente *ngIf="tipoUser == 'cliente' "></app-cliente>  
  </div>
  
</div>